<!DOCTYPE html>

<html lang="en-US">
    <head>
        <title>
           {% block title %} Recipe Book {% endblock %}
        </title>
    </head>

    <h1>
        Recipe Book
    </h1>
    <h2>
        {{name}} Ingredients
    </h2>
    
    <body>
        <ul>
            {% for ingredient in ingredients %}
                <li>
                    {{ingredient.name}}
                    <br>
                    Amount: {{ingredient.quantity}} 
                </li>
            {% endfor %}
        </ul>
    </body>
</html>