<!DOCTYPE html>

<html lang="en-US">
    <head>
        <title>
           {% block title %} Recipe Book {% endblock %}
        </title>
    </head>

    <h1>
        Recipe Book
    </h1>
    <h2>
        Recipes
    </h2>
    <body>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href = "{{recipe.link}}">{{recipe.name}} </a>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>
                                {{ingredient.name}}, {{ingredient.quantity}} 
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>