<!DOCTYPE html>

<html lang="en-US">
    <head>
        <title>
           {% block title %} Recipe Book {% endblock %}
        </title>
    </head>


    {% if request.user.is_authenticated %}
    <h4> Hello {{request.user.username}}</h4>
    <form action = "{% url 'logout' %}" method = "POST">
        {% csrf_token %}
        <button type = "submit">LOG OUT</button>
    </form>
    {% else %}
        <a href ="{% url 'login' %}">Please login.</a>
    {% endif %}


    <h1>
        Recipe Book
    </h1>
    <h2>
        Recipe List
    </h2>
    <body>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href = "{% url 'recipe' recipe.id %}">{{recipe.name}} </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>